extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")
    .row
      .col-12
        .chat(user-id=user.id)
          .inner-body
            each chat in chats
              div(class=(user.id != chat.userId?"inner-incoming":"inner-outgoing"))
                if(user.id != chat.userId)
                  .inner-name #{chat.fullName}
                .inner-content #{chat.content}
            div(class="inner-list-typing")
          .inner-foot
            form(
                class="inner-form"
                action=""
              )
                input(
                  type="text"
                  placeholder="Nhập nội dung..."
                  name="content"
                )
                
                .div
                  <button button-tolltop>Click me</button>
                  <div class="tooltipA">
                    <emoji-picker class="dark has-custom"></emoji-picker>
                  </div>
                button
                  i.fa-solid.fa-paper-plane
